{
  "presets": [
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-strict-mode"
  ],
  "env": {
    "browser": {
      "plugins": [["react-transform", {
        "transforms": [{
          "transform": "react-transform-hmr",
          "imports": ["react"],
          "locals": ["module"]
        }]
      }]]
    }
  }
}
