{
  "rules": {
    "indent": [ 1, 2 ],
    "quotes": [ 1, "single"],
    "linebreak-style": [ 2, "unix"],
    "semi": [ 2, "always"],
    "no-unused-vars": [ 2, {
      "args": "after-used",
      "argsIgnorePattern": "^_",
      "varsIgnorePattern": "^React$"
    }]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "ecmaFeatures": {
    "jsx": true,
    "destructuring": true,
    "experimentalObjectRestSpread": true
  },
  "extends": "eslint:recommended",
  "parser": "babel-eslint",
  "plugins": ["react"]
}
