
.wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0;
  line-height: 2em;
  & a {
    text-decoration: none;
  }
}

.menu {
  list-style-type: none;
  line-height: 2em;
  & li {
    display: inline;
    padding: 0 .25em;
    & a {
      text-decoration: none;
    }
  }
}
