<!DOCTYPE html>
<html>
<head>
<title>&nbsp;</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<!--<link rel="stylesheet" href="/main.css?<%= rev %>" />-->
</head>
<body>
<div id="rex"><%- body %></div>
<script type="text/javascript">
window.__REX_REV__ = "<%= rev %>";
window.__REX_API__ = "<%= api %>";
window.__REX_DAT__ = <%- state %>;
</script>
<script src="jspm_packages/system.js"></script>
<script src="config.js"></script>
<script>
    System.import('src/client.js');
</script>
<!--<script src="/main.js?<%= rev %>" async></script>-->
</body>
</html>
